

.header {
	color: white;
	width: 100%;
	text-align: Left;
	border: 5px solid #f9f9f9;
	margin-top: 0;
	margin-bottom: 20px;
    border-radius: 5px;
	padding: 15px;
	background-color: white;
	vertical-align: center;
}

.container2 {
	overflow: hidden;
  width: 100%; /* for good measure */
}

#projects {
	text-align: center;
	font-size: 20px;
	margin-top: 20px;
}

#projects2 {
	text-align: center;
	font-size: 35px;
	margin-top: 50px;
}

#Maintitle {
	font-size: 50px;
	text-align: Left;
	font-family: 'Lobster', cursive;
	text-align: Left;
	display: inline-block;
	color: rgb(214,19,48);
	margin-top: 0px;
	display: inline;

}

#semititle {
	font-size: 41px;
	display: inline-block;
	color: rgb(214,19,48);
	font-family: 'Lobster', cursive;
	margin-top: 0px;
	display: inline;
}

.top {
	width: 100%;
	margin: 0;
	padding: 0;
	background-color: rgb(214,19,48);
	float: right;
}

.menu {
	color: white;
	width: 12.5%;
	margin: auto;
	padding: 0;
	text-align: center;
	border: 5px solid #f9f9f9;
	background-color: rgb(214,19,48);
	float: left;
	height: 50px;
	overflow: hidden;
}

.leftmost {
	border-top-left-radius: 5px;
}

.rightmost {
	border-bottom-right-radius: 5px;
}

.menu:hover {
	background-color: rgb(250,10,40);
}

.writting {
	width: 100%;
	text-align: center;
	border: 5px solid #f9f9f9;
	margin-top: 20px;
	margin-left: 25% ;
	Margin-right: 25%;
    border-radius: 10px;
	height: 500%;
	background-color: rgb(214,19,48);
	color: white;
	font-size: 20px;
}

.logo {
	margin-top: 15px;
	width: 10%;
}

div {
	text-align: center;
}
.Menutext {
	padding: 10px;
	font-size: 15px;
	font-family: 'Raleway', sans-serif;
}

#hhhead {
	color: white;
	font-family: 'Raleway', sans-serif;
	margin-top: 30px;
}

@media only screen and (max-width: 991px) {
    .top4 {
        float: none;
		background-color: blue;
    }
	.menu {
		width: 25%;
	}
		.one {
	border-top-right-radius: 5px;
}

.two {
	border-bottom-left-radius: 5px;
}

body {
	background-attachment: fixed;
}
}


@media only screen and (max-width: 465px) {
	.Menutext {
	font-size: 13px; }

.tit3 {
	font-size: 20px;
}

.menu {
	height: 60px;
}

}


@media only screen and (min-width: 990px) {
	.yeee {
	position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
	overflow: hidden;
	margin-top: 0;
    padding-top: 0;
	padding-bottom: 0;
	margin-bottom: 0;
}

.righttag {
	float: left;
	width: 50%;
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 20px;
}

.lefttag {
	float: left;
	width: 50%;
	text-align: left;
	padding-left: 50px;
	padding-right: 50px;
	font-size: 20px;
}

	.leftmost {
	border-bottom-left-radius: 5px;
}

.rightmost {
	border-top-right-radius: 5px;
}
body {
	background-repeat: no-repeat;
	background-repeat: repeat-y;
	background: url(Assets/background.png);
	background-size: 100%;
	color: white;
}

.tit3 {
	opacity: 1;
	font-size: 50px;
	text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
	font-family: 'Roboto Condensed', sans-serif;
}

}

.hell {
	margin: 30px;
	text-align: center;
}

.Slide {
	height: 250px;
	color: white;
	Width: 250px;
	border: 5px solid #f9f9f9;
	border-radius: 2px;
	line-height: 250px;
	font-size: 30px;
	display: inline-block;
	margin: 30px;
}

.s1 {
	background: url(Assets/slide1.png);
}

.s2 {
	background: url(Assets/slide2.png);
}

.s3 {
	background: url(Assets/slide3.png);
}

.tit {
	opacity: 1;
	text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
	font-family: 'Roboto Condensed', sans-serif;
}



.Slidebig:hover {
	/*filter:brightness(150%); */
	border: 5px solid red;
	text-shadow: #000 0px 0px 100px;
    -webkit-font-smoothing: antialiased;
}

.Slide:hover {
	/*filter:brightness(150%); */
	border: 5px solid red;
	text-shadow: #000 0px 0px 10px;
    -webkit-font-smoothing: antialiased;
}

.Slidebig {
	height: 150px;
	color: white;
	Width: 60%;
	border: 5px solid #f9f9f9;
	border-radius: 3px;
	line-height: 150px;
	font-size: 30px;
	display: inline-block;
	margin: auto;
	background: url(https://salvos.org.au/image?src=/scribe/sites/rockdale/files/images/red_shield_HOPE_corps2.jpg&width=643&height=415);
}

#hope {
	width: 75%;
	margin: 30px;
}

.jesus {
	background: white;
	margin: -15px;
	margin-top: 50px;
	margin-bottom: 50px;
}

#suck {
	font-size: 50px;
	font-family: 'Cookie', cursive;
	margin-top: 80px;
	margin-bottom: 80px;
}

#justendit {
	color: white;
	margin-left: 15px;
}

#map1 {
	border: 5px solid #f9f9f9;
	margin: auto;
	margin-top: 50px;
	margin-bottom: 50px;
	width: 50%;
	height: 500px;
}

#map{
	width: 100%;
	height: 100%;
}

#shop {
	width: 75%;
	margin-top: 50px;
	margin-bottom: 50px;
	border: 5px solid #f9f9f9;
}

.alignments {
	width: 30%;
	margin: auto;
	text-align: left;
	margin-top: 50px;
	font-size: 20px;
	margin-bottom: 50px;
}

.donate {
	width: 85%;
	background-color: #ff7e7e;
	height: 150px;
	animation: bgColor 4s infinite linear;
	text-align: center;
	margin: auto;
	margin-top: 80px;
	margin-bottom: 80px;
	font-size: 50px;
	Line-height: 150px;
	font-family: 'Lobster', cursive;
	border-radius: 5px;
	color: white;
	text-decoration: none;
}

@keyframes bgColor {
  12.5% {
    background-color: #ff7e7e; /*FF0000 ff3030 ff5959 ff7e7e*/
  }
  25% {
    background-color: #ff5959;
  }
  37.5% {
    background-color: #ff3030;
  }
  50% {
    background-color: #FF0000;
  }  
  62.5% {
    background-color: #FF0000;
  }
  75% {
    background-color: #ff3030;
  }
  87.5% {
    background-color: #ff5959;
  }
  100% {
    background-color: #ff7e7e;
  }
}

#nottodaysatan {
	color: white;
	text-decoration: none;
}

#sign {
	width: 90%;
	border-radius: 5px;
	border: 5px solid #f9f9f9;
	margin-top: 30px;
	margin-bottom: 30px;
	
}

#idfk {
	width: 90%;
	border-radius: 5px;
	border: 5px solid #f9f9f9;
	margin-top: 0px;
	margin-bottom: 30px;
	
}
.gal {
	margin: 10px;
	width: 250px;
	height: 200px;
	object-fit: cover;
	margin-right: 30px;
	border-radius: 5px;
}

@media only screen and (max-width: 465px) { 
.gal {
	margin: 10px;
	width: 100px;
	height: 50px;
	object-fit: cover;
	border-radius: 5px;
}
}


.space {
	margin-bottom: 50px;
}

.con {
	width: 200px;
	padding: 30px;
}

.con:hover {
		 -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: brightness(125%);
}

#shiftend {
	margin: 50px;
}

.leftalign {
	text-align: left;
	padding-left: 50px;
}